.product{
    background: linear-gradient(90deg, var(--brown), var(--secondary), var(--accent));
    background-size: 300% 300%; /* Ensure smooth gradient movement */
    animation: gradientMove 6s ease-in-out infinite, pulse 3s linear infinite;
    transition: background-color 0.3s ease-in-out;
    color: var(--white);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adds depth to the text */
}