
.item{
    width: 350px;
    color: var(--white);
    text-shadow: 2px 2px 5px rgba(223, 137, 164, 0.7); /* Adds depth to the text */
}
.item p{
    margin: 5px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
}
.item-price-old{
    color: var(--gray);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adds depth to the text */
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.06s;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3); /* Base shadow */
    animation: movingShadow 3s linear infinite, imgScale 3s ease-in-out infinite;

}