.footer{
    background: linear-gradient(90deg, var(--brown), var(--secondary), var(--accent));
    background-size: 300% 300%; /* Ensure smooth gradient movement */
    animation: gradientMove 6s ease-in-out infinite, pulse 3s linear infinite;
    transition: background-color 0.3s ease-in-out;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 75px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adds depth to the text */
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{ 
    color: var(--primary);
    font-size: 38px;
    font-weight: 600;
    font-family: "maragsa";
    text-decoration: none;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: var(--white);
    font-size: 20px;
}
.footer-links li{
    cursor: pointer;
}
.footer-socials-icons{
    display: flex;
    gap: 20px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: var(--white);
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: var(--white);
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: var(--primary);
}