.footer {
    background: linear-gradient(360deg,#55071a, #470517,#740e29);
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top:125px;
    text-shadow: 2px 2px 5px rgba(71, 8, 8, 0.937); /* Adds depth to the text */
}
.footer:hover{
    
    background: linear-gradient(90deg, #55071a, #470517,#6a031e);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
    transition: background-color 0.3s ease-in-out;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p {
    color: #f9d3d3;
    font-size: 38px;
    font-weight: 600;
    font-family: "maragsa";
    text-decoration: none;
}
.footer-heading {
    color: #f9d3d3;
    font-weight: bold;
    font-size: 32px;  /* You can adjust this size as needed */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #f9d3d3;
    font-size: 20px;
}

.footer-links li {
    cursor: pointer;
}

.footer-socials-icons {
    display: flex;
    gap: 20px;
}

.footer-icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #7f5757;
    border: 1px solid #7f5757;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: var(--white);
    font-size: 20px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: var(--pink); /* Updated background to primary color */
}

/* Responsive Adjustments */
@media (max-width: 992px) {
    .footer {
        padding-top: 50px;
        gap: 40px;
    }
    .footer-logo p {
        font-size: 30px;
    }
    .footer-links {
        gap: 30px;
        font-size: 18px;
    }
    .footer-copyright {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding-top: 40px;
        gap: 30px;
    }
    .footer-logo p {
        font-size: 24px;
    }
    .footer-links {
        gap: 20px;
        font-size: 16px;
    }
    .footer-copyright {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .footer {
        padding-top:130px;
        gap: 20px;
    }
    .footer-logo p {
        font-size: 20px;
    }
    .footer-links {
        gap: 10px;
        font-size: 14px;
        flex-direction: row; /* Stack links vertically */
        align-items: center;
    }
    .footer-copyright {
        font-size: 14px;
    }
    .footer-video {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100px;
        gap: 15px;
        margin-bottom: 30px;
      }
      
      .reel-video {
        max-width: 100%;
        height: auto;
        border-radius: 8px;

      }
     
          
      
    }      